body{
    overflow: hidden;
}

.list-group-item {
    border-radius: 5px !important;
    margin: 0.1em;
}

.table-md{
    border-radius: 5px !important;

}

.table-md thead th {
    border: unset;
}

.table-md tbody td:first-child{
    border-radius: 5px 0px 0px 5px;
}

.table-md tbody td:last-child{
 border-radius: 0px 5px 5px 0px;
}
.container-fluid {
    overflow: auto;
}
.menu {
    padding: unset;
    font-weight: bold;
    text-shadow:0 0 5px  rgba(0, 55, 255, 0.81);
}

.form-control.light{
    background-color: white;
}

.menuDarkener{
    height: 100%;
    opacity: 0.4;
    background-color: #303331;

    border-radius: 5px;
    box-shadow: 0px 0px 5px burlywood;
}

.sticky div{
    color: lightgoldenrodyellow;
}

.sticky td {
    border: unset;
    padding-left: 1em;
}

.sticky{
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    cursor: pointer;
    width: fit-content;
}
.logo {
}

.row {
    height: 100%;
}

.fa-hard-hat{
    color: orange;
}

.fa-code{
    color: darkcyan;
}

.form-control{
    background-color: #343a40;
    border: unset;
}

.page-background{
    background-image:  linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("https://source.unsplash.com/random");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.page-content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

h1 {
    padding: 0.2em;
}

h1, h4, label  {
    color: white;
    text-shadow:0 0 5px rgba(0, 55, 255, 0.81)
}
.controls {
    padding: 0.2em;
}

.selectAll:hover {
    color: greenyellow;
}

.rent:hover {
    color: blue;
}

.add:hover {
    color: green;
}

.edit:hover {
    color: darkcyan;
}

.delete:hover {
    color: red;
}

tr {
    border-radius: 1px;
}